<form #form="ngForm" (ngSubmit)="submitForm()">
    <label>Full name</label>
    <input type="text" name="full_name" placeholder="enter your full name, min length is 3" [(ngModel)]="full_name" #full_name_field="ngModel" required minlength="3"> 

    <label for="address">Address</label>
    <input type="text" name="address" placeholder="enter your address, min length is 6" [(ngModel)]="address" #address_field="ngModel" required minlength="6"> 

    <label for="credit_card"> Credit card</label>
    <input type="tel" name="credit_card" placeholder="enter credit card number, min length is 16" [(ngModel)]="credit_card" #credit_card_field="ngModel" required minlength="16">
    <input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">
    <div *ngIf="full_name_field.invalid && full_name_field.dirty">
        <div *ngIf="full_name_field.errors != null">
            <div *ngIf="full_name_field.errors['required']">
                Please provide a full name
              </div>
              <div *ngIf="full_name_field.errors['minlength']">
                your name must contain at least 3 characters.
              </div>
        </div>
      </div>

      <div *ngIf="address_field.invalid && address_field.dirty">
        <div *ngIf="address_field.errors != null">
            <div *ngIf="address_field.errors['required']">
                Please provide an address
              </div>
              <div *ngIf="address_field.errors['minlength']">
                your address must contain at least 6 characters.
              </div>
        </div>
      </div>


      <div *ngIf="credit_card_field.invalid && credit_card_field.dirty">
        <div *ngIf="credit_card_field.errors != null">
            <div *ngIf="credit_card_field.errors['required']">
                Please provide your credit card number
              </div>
              <div *ngIf="credit_card_field.errors['minlength']">
                credit card number must contain at least 16 characters.
              </div>
        </div>
      </div>


</form>